<div class="row">
	<div class="col-md-6 col-md-offset-3 ">
		<div class="panel panel-default">
  		<div class="panel-body">
				<%= form_for @shout do |form| %>
		    	<div class="input-group">
		      	<%= form.text_field	:body, autofocus: "true", required: "true", class: "form-control", placeholder: "SHOUT LOUD....." %>
	      		<span class="input-group-btn">
	        		<%= form.submit 'Shout!', class: "btn btn-success" %>
	      		</span>
		    	</div>
		  	<% end %>
		  	<hr>
				<%= render @shouts %>
		  </div>
		</div>	
	</div>
</div>