
body {
  padding-top: 20px;
}

#flash_notice {
  @extend .alert;
  @extend .alert-success;
}
#flash_error, #flash_alert {
  @extend .alert;
  @extend .alert-danger;
}
#flash_warning {
  @extend .alert;
  @extend .alert-warning;
}

.navbar .right-buttons {
  margin-right: 15px;
}
blockquote { padding: 2px 0 0 10px !important; margin: 0 !important; }

$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$navbarBackgroundHighlight: white;
$navbarBackground: white;
$grayMediumLight: #eaeaea;

@import "bootstrap";

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
	h1 {
  	margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

/* footer */

.footer {
  margin-top: 50px;
  padding-top: 10px;
  margin-left:10px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
	a {
  	color: $gray;
		&:hover {
  		color: $gray-darker;
  	}
  }
  small {
  	float: left;
	}
	ul {
  	float: right;
  	list-style: none;
  	li {
  		float: left;
  		margin-left: 10px;
		}
	}
}

